.hero{
    margin-top: 50px;
    .hero__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .hero__left{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2{
                color: white;
                width: 510px;
                font-size: 67px;
            }
            p{
                width: 510px;
                color: white;
                font-size: 22px;
            }
            button{
                width: 224px;
                height: 60px;
                border-radius: 20px;
                border:none;
                font-size: 16px;
                padding: 0 30px 0 30px;
                color: white;
                background-color: #A259FF;
                cursor: pointer;
                transition: 0.2s;
            }
            button:hover{
                color: #A259FF;
                background-color: transparent;
                border: 1px solid #A259FF;
            }
            .statistic{
                color: white;
                display: flex;
            }
        }
        .hero__right{
            .hero__right__card{
                width: 510px;
                height: 510px;
                background-color: #3B3B3B;
                border-radius: 20px;
                color: white;
            }
            .hero__right__info{
                padding: 20px 20px;
            }
            .hero__right__card__desc{
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
}

@media (max-width: 1125px) {
    .hero{
        .hero__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .hero__left{
                text-align: center;
                order: 1;
                button{
                    margin: 0 auto;
                }
            }
            .hero__right{
                order: 2;
            }
        }
    }
}
@media (max-width: 495px) {
    .hero{
        .hero__wrapper{
            .hero__left{
                h2{
                    font-size: 40px;
                    width: 400px;
                    margin: 0 auto;
                }
                p{
                    font-size: 15px;
                    margin: 0 auto;
                    width: 400px;
                }
            }
            .hero__right{
                width: 215px;
                height: 215px;
                
            }
            .hero__right{
                display: none;
            }
        }
    }
}
@media (max-width: 310px) {
    .hero{
        .hero__wrapper{
            .hero__left{
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
}
}